doctype html5
html(lang="en")
	head
		meta(charset="UTF-8")
		title GoRehab
		link(rel="stylesheet",href="css/normalize.css")
		link(rel="stylesheet" href="css/styles.css")
	body
		div.container
			div.menu
				div.menu__user
				div.outer-circle
					div.inner-circle 
						span.name Francisco David Corredor
				div.menu__items menu__items
					ul
						li.a(href="#") item
						li.a(href="#") item
						li.a(href="#") item
				div.menu__logo menu__logo
			div.main
				div.main__nextbtn main__nextbtn
				div.main__camera main__camera
		script(src="js/jquery-2.1.4.min.js")
		script(src="js/init.js")