doctype html5
html(lang="en")
	head
		meta(charset="UTF-8")
		title GoRehab
		link(rel="stylesheet",href="css/normalize.css")
		link(rel="stylesheet" href="css/styles.css")
	body
		div.container
			div.menu
				div.menu__user
				div.outer-circle
					div.inner-circle 
						span.name Francisco David Corredor
				div.menu__items
					ul
						li.terapeuta terapeuta
						li.rutinas rutinas
						li.progreso progreso
				div.menu__logo
					img(src="img/logo.png",alt="logotipo",width="50%")
			div.main
				div.main__nextbtn
					a(href="#").btn--next lls
				div.main__camera
					div.kinect__camera
		script(src="js/jquery-2.1.4.min.js")
		script(src="js/init.js")