doctype html5
html(lang="en")
	head
		meta(charset="UTF-8")
		title GoRehab
		link(rel="stylesheet",href="css/normalize.css")
		link(rel="stylesheet" href="css/styles.css")
	body
		div.container
			div.menu
				div.menu__user
				div.outer-circle
					div.inner-circle 
						span.name Francisco David Corredor
				div.menu__items
					ul
						li.terapeuta terapeuta
						li.rutinas rutinas
						li.progreso progreso
				div.menu__logo
					img(src="img/logo.png",alt="logotipo",width="50%")
			div.main
				div.main__chat
					div.chat__user
						span.image__chat 
							img(src="img/pat-user.png",alt="logotipo",width="80",height="80").chat__img
						span.text__chat Buenos días doctora, quiero hacerle una consultica... cuando hago ejercicio del nivel 2 siento una molestía en mi pierna izquierda
					div.chat__therapist
						span.text__chat Buenos días Francisco, si sientes esta molestia es porque estas haciendo un sobre esfuerzo balanceándote hacia el lado izquierdo. Recuerda que debes mantener el equilibrio.
						span.image__chat
							img(src="img/the-user.png",alt="logotipo",width="80",height="80").chat__img
					div.chat__user
						span.image__chat
							img(src="img/pat-user.png",alt="logotipo",width="80",height="80").chat__img
						span.text__chat Muchas gracias doctora si me vuelve a molestar le aviso
					div.chat__therapist
						span.text__chat Descansa diez minutos y empieza de nuevo. Cualquier cosa que necesites no dudes en preguntarme. Un abrazo Francisco.
						span.image__chat
							img(src="img/the-user.png",alt="logotipo",width="80",height="80").chat__img
					div.chat__message
						span.image__chat
							img(src="img/pat-user.png",alt="logotipo",width="60",height="60").chat__img				
						span.text__chat
							input(type="text",placeholder="Escibe tu mensaje")
						span.btn__chat
							img(src="img/go-btn.png",alt="logotipo",width="60",height="60").chat__img
		script(src="js/jquery-2.1.4.min.js")
		script(src="js/init.js")