.container {
  width: 100%;
  height: 100%;
  background: #fff;
}
.menu {
  background: #d8d8d8;
  width: 21%;
  height: 100%;
}
.main {
  display: block;
  background-color: #fff;
  background: url("../img/fondo.png") 0 0 no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  width: 79%;
  padding: 10px;
  height: 100%;
}
.main__camera {
  height: 800px;
}
.kinect__camera {
  background-color: #ff0041;
  margin: 50px;
  height: 94%;
}
.main__nextbtn {
  height: 10%;
  text-align: right;
  padding: 20px;
}
.main,
.menu {
  display: inline-block;
}
.menu__user {
  background: #ff0;
  background: url("../img/man-profile.png") 0 0 no-repeat;
  background-size: cover;
  height: 380px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
ul li {
  color: #fff;
  text-align: right;
  text-transform: uppercase;
  width: 220px;
  height: 30px;
  margin: 10px auto;
  padding: 16px 6px 6px 6px;
  border-radius: 6px;
  font-weight: bold;
  letter-spacing: 0.2em;
}
.menu__name,
li {
  background: #ff0041;
}
.outer-circle {
  margin: -90px auto 0 auto;
  background-color: rgba(0,0,0,0.3);
  border-radius: 50%;
  height: 180px;
  width: 180px;
  position: relative;
}
.inner-circle {
  cursor: pointer; 
  cursor: hand;
  background: #ff0041;
  border-radius: 50%;
  color: #fff;
  font-size: 0.7em;
  height: 120px;
  left: 50%;
  margin: -60px 0px 0px -60px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  width: 120px;
}
.name {
  position: absolute;
  padding-top: 50px;
  left: 0px;
}
.menu__logo {
  background: #ff0041;
  text-align: center;
  position: fixed;
  bottom: 0;
}
.terapeuta {
  background: url("../img/terapeuta.png") 0 0 no-repeat;
  background-position-x: 12px;
  background-position-y: 8px;
  background-color: #ff0041;
  cursor: pointer; 
  cursor: hand;
}
.rutinas {
  background: url("../img/rutinas.png") 0 0 no-repeat;
  background-position-x: 12px;
  background-position-y: 8px;
  background-color: #ff0041;
  cursor: pointer; 
  cursor: hand;
}
.progreso {
  background: url("../img/progreso.png") 0 0 no-repeat;
  background-position-x: 12px;
  background-position-y: 8px;
  background-color: #ff0041;
  cursor: pointer; 
  cursor: hand;
}
.btn--next {
  width: 50px;
  height: 50px;
  background-color: #ff0041;
  padding: 15px 15px 15px 15px;
  margin: 5px;
  border-radius: 50%;
  background: url("../img/progreso.png") 0 0 no-repeat;
  background-position-x: 12px;
  background-position-y: 8px;
  background-color: #ff0041;
}
/* Estilos del chat */
.main__chat {
  padding: 20px;
  margin: 10px;
}
.chat__user {
  padding: 5px;
  margin: 10px 5px 10px 5px;
}
.image__chat {
  border-radius: 50%;
  padding: 5px;
}
.image__chat,
.text__chat,
.btn__chat {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
}
.text__chat {
  width: 80%;
  min-height: 80px;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  border-bottom: 3px solid #d8d8d8;
  color: #8e8e8e;
  font-size: 1.2em;
}
.chat__img {
  border-radius: 50%;
}
.chat__message {
  vertical-align: middle;
}
input[type="text"] {
  border: none;
}
/* Estilo de rutinas */
.main__rutines {
  padding: 20px;
}
.rutines__title {
  font-size: 6em;
  font-weight: bolder;
  color: #ff0041;
}
.principal__rutines,
.secundary__rutines {
/*background-color rgba(255, 0, 3, 0.55)*/
  background-color: #ff0041;
  border-radius: 58px;
  text-align: right;
  width: 86%;
  height: 100px;
  margin: 20px;
  padding: 10px;
  vertical-align: middle;
  font-size: 5.2em;
}
.secundary__rutines {
  background-color: #aaa;
  width: 68%;
}
.rutine_number {
  color: #ff0041;
  display: inline-block;
  border-radius: 50%;
  width: 72px;
  height: 100px;
  padding-right: 28px;
  background: #fff;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
  vertical-align: middle;
}
.rutine_msg {
  vertical-align: middle;
  color: #fff;
  font-size: 0.2em;
  padding: 10px;
  margin: 10px;
  text-transform: uppercase;
  font-weight: bolder;
}
.module-hight{
 color: #ff0041;
}